---
import Menu from '@components/UI/menus/albumDetail/AlbumMenu.astro';
import Layout from '@layouts/Layout.astro';
import SectionContext from '@components/UI/SectionContext.astro';
import AboutEditor from '@components/UI/edit/about/AboutEditor';
const albumId = Astro.params.albumId
---

<Layout title="PhotoBook, your electronic photo project.">
    <SectionContext section="cover" albumId={albumId}>
        <>
            <div>
                <Menu client:visible section="cover" albumId={albumId} />
            </div>
            <div>
                <AboutEditor client:visible albumId={albumId} />
            </div>
            <style>
                div {
                height: 100%;
                padding: 24px;
                box-sizing: border-box;
            }
            </style>
        </>
    </SectionContext>
</Layout>
