---
---

<aside>
    <a href="/albums/1">My Albums / </a>

    
</aside>

<style>
    aside {
        width: 225px;
        height: 100%;
        padding-right: 24px;
        display: inline-block;
        gap: 12px;
        justify-content: space-between;
        border-right: 1px solid #E5E5E5;
    }

    a {
        font-size: 32px;
        font-weight: 300;
        margin: 0;
        gap: 18px;
    }


    @media (max-width: 768px) {
        aside {
            display: none;
        }
    }

</style>
