---
import Layout from '@layouts/Layout.astro';
import SectionContext from '@components/UI/SectionContext.astro';
import AlbumsGrid from '@components/UI/edit/albums/Albums';
import MyAlbumsMenu from '@components/UI/menus/albums/MyAlbumsMenu.astro';
---

<Layout title="PhotoBook, your electronic photo project.">
    <SectionContext section="cover">
        <>
        <div>
            <MyAlbumsMenu userId={1}/>
        </div>
        <div><AlbumsGrid client:visible userId={1}/></div>
        <style>
            div {
            height: 100%;
            padding: 24px;
            box-sizing: border-box;
        }
        </style>
        </>
    </SectionContext>
</Layout>
