---
---

<header>
    <div class="wide-screen">
        <div class="bigLogo">
            <img src="/logo3.png" alt="PhotoBook Logo" />
            <h1>PhotoBook</h1>
        </div>        
    </div>  
</header>

<style>
    img {
        height: 60px;
    }
    .bigLogo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .wide-screen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        width: 100%;
    }

</style>