---
import type { MenuSection } from "@types";
import Button from "@components/UI/Button";
import Lens from "@components/UI/icons/Lens.astro";
import Book from "@components/UI/icons/Book.astro";
import Pictures from "@components/UI/icons/Pictures.astro";

let menuSections: MenuSection[] = ["pictures", "cover", "about"];

let menuIcons = {
  "about": Lens,
  "cover": Book,
  "pictures": Pictures,
};

const albumTitle: string = "Album Title";

const currentSection = Astro.props.section;
---
<div class="main-menu">
    <aside>
        <h2>
            My Albums
        </h2>

        <ul>    
            <h3>
                {albumTitle}
            </h3> 
            {menuSections.map((section) => {
                let Icon = menuIcons[section];
                return (
                <li>
                    <button class={(section === currentSection) ? 'side-selected' : 'side-button' }>
                        <div class="icon-container">
                            <Icon />
                        </div>
                        <span>{section}</span>                    
                    </button>
                </li>
            )})}
        </ul>
    </aside>
    <div class="mobile">
        <div>
            <h3>My Albums / </h3>
            <h2>{albumTitle}</h2>
        </div>
        <div class="sectionsAndActions">
            <div class="menu">
                {menuSections.map((section) => {
                    let Icon = menuIcons[section];
                    return (
                    <button class={(section === currentSection) ? 'mobile-selected' : 'mobile-button' }>
                        <div class="icon-container">
                            <Icon />
                        </div>
                        <span>{section}</span>                    
                    </button>
                )})}
            </div>
            <Button copy="Preview Album" href="/Preview" />
        </div>
    </div>
</div>

<style>
    .main-menu {
        width: 100%;
        height: 100%;
    }
    aside {
        width: 225px;
        height: 100%;
        padding-right: 24px;
        display: inline-block;
        gap: 12px;
        justify-content: space-between;
        border-right: 1px solid #E5E5E5;
    }

    h2 {
        font-size: 32px;
        font-weight: 300;
        margin: 0;
        gap: 18px;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
        margin: 0;
    }

    .mobile h2 {
        font-size: 16px;
        gap: 0;
    }

    .mobile h3 {
        font-size: 16px;
    }

    .side-button, .side-selected {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        background: none;
        padding: 6px;
        border-radius: 6px;
        cursor: pointer;
    }

    .side-button:hover {
        background-color: #F5F5F5;
    }

    .side-selected {
        background-color: #F5F5F5;
    }

    .mobile-button, .mobile-selected {
        display: flex;
        align-items: center;
        gap: 6px;
        background-color: transparent;
        border: none;
        border-radius: 6px;
        padding: 4px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        cursor: pointer;
    }

    .mobile-button:hover {
        background-color: #FFFFFF;
    }

    .mobile-selected {
        background-color: #FFFFFF;
    }

    ul {
        position: sticky;
        top: 12px;
        list-style-type: none;
        padding: 12px 0 0 24px;
    }
    
    li {
        gap: 18px;
        margin: 6px;
    }

    button span {
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }

    .icon-container {
        width: 24px;
        height: 24px;
        resize: both;
    }

    .mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
    }

    .menu {
        display: flex;
        gap: 10px;
        background-color: whitesmoke;
        border-radius: 6px;
        padding: 5px;
    }
    
    .sectionsAndActions {
        position: sticky;
        top: 6px;
        gap: 12px;
        display: flex;
        align-items: center;
        height: 40px;
        width: auto;
    }

    @media (max-width: 768px) {
        aside {
            display: none;
        }
    }

    @media (min-width: 768px) {
        .mobile {
            display: none;
        }
    }

</style>